* {
    margin: 0;padding: 0;
  }
  body {
    background-color: #f2f2f2;
  }
  header {
    background: url(./images/mount.png) 0 0 no-repeat;
    background-size: 100% 100%;
  }
  header .mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .65);
    overflow: hidden;
  }
  header .content {
    width: 970px;
    margin: 208px auto 0;
    color: rgba(255, 255, 255, .7);
  }
  /* hello world 容器 */
  .hello .title {
    font-size:62px;
    font-weight:200;
    color:rgba(255,255,255,1);
    line-height:72px;
    text-align: center;
  }
  .hello .text {
    font-size: 20px;
    font-weight: 200;
    line-height: 32px;
    width: 766px;
    margin: 86px auto 0;
    text-align: center;
  }
  /* 表单 */
  .create{
      box-sizing: border-box;
      width: 100%;
      border: 1px solid rgba(255,255,255,.2);
      border-radius: 2px;
      margin-top: 104px;
      padding: 61px 100px 52px;
  }
.create .title{
    text-align: center;
    font-size: 16px;
    line-height: 28px;
}
.create .profile{
    text-align: center;
    font-size: 12px;
    color: rgba(255,255,255,.3);
    margin: 19px auto 45px;
}
.create .input input{
    outline: none;
    border: 1px solid rgba(255,255,255,.2);
    width: 292px;
    height: 50px;
    background: rgba(0,0,0,0);
    border-radius: 2px;
    color: #ffffff;
    text-indent: 22px;
}
.create .input{
    display: flex;
    justify-content: space-between;
}
.create .input input[type="button"]{
    width: 125px;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
    text-indent: 0px;
}
/*  */
.introduce{
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}
.introduce-content{
    text-align: center;
    padding-top: 79px;
}
.introduce-content .title{
    color: rgba(0,0,0,1);
    font-size: 14px;
}
.introduce-content .text{
    width: 657px;
    font-size:42px;
    font-weight:200;
    color:rgba(20,20,20,1);
    line-height:52px;
    margin: 39px auto 0;
}
.introduce .section{
    width: 986px;
    margin: 85px auto 0;
    padding-bottom: 102px;
}
.section .option{
    box-sizing: border-box;
    display: flex;
}
.section .option .name{
    height:16px;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 25px;
}
.section .option .des{
    font-size: 16px;
    font-weight: 200;
    color:rgba(20,20,20,.7)
}
.section .section-line{
    margin-bottom: 80px;
}
.section .option .icon{
    margin-right: 31px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.section .optionm{
    margin-right: 179px;
}
.section .option .icon.iphoneTcon{
    width: 30px;
    height: 49px;
    background-image: url(./images/Iphone\ Icon.png);
}
.section .option .icon.checkTcon{
    width: 40px;
    height: 37px;
    background-image: url(./images/Check\ Icon.png);
}
.section .option .icon.PencilIcon{
    width: 50px;
    height: 49px;
    background-image: url(./images/Pencil\ Icon.png);
}
.section .option .icon.SettingsIcon{
    width: 50px;
    height: 49px;
    background-image: url(./images/Settings\ Icon.png);
    margin-left: 100px;
}
.section-line{
    display: flex;
    justify-content: space-between;
}
/* 资料 */
.data{
    width: 100%;
    height: 800px;
    background: url(./images/图层\ 2.png) no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding-top: 182px;
    padding-left: 351px;
    position: relative;
}
.data .title{
    width:366px;
    height:137px;
    font-size:42px;
    font-weight:200;
    color:rgba(255,255,255,1);
    line-height:52px;
    margin-bottom: 47px;
}
.data .text{
    width:367px;
    height:130px;
    font-size:18px;
    font-weight:200;
    color:rgba(255,255,255,.7);
    line-height:28px;
    margin-bottom: 58px;
}
.data .options{
    height: 60px;
}
.data .option{
    width: 240px;
    height: 60px;
    display: inline-block;
    margin-right: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 60px;
    border-radius: 2px;
}
.data .options .option1{
    background-color: #fff;
}
.data .options .option2{
    border:1px solid rgba(255,255,255,.3)
}
.data .imgs{
    position: absolute;
    top: 140px;
    right: 0;
    padding: 20px 0 20px 40px;
    border-top: 1px solid rgba(255,255,255,.3);
    border-left: 1px solid rgba(255,255,255,.3);
    border-bottom: 1px solid rgba(255,255,255,.3);
    border-radius: 10px;
}
.data img{
    width: 445px;
    height: 400px;
    font-size: 0;
}
/*  */
.try{
    width: 100%;
    height: 580px;
    border-bottom: 1px solid rgba(20,20,20,.1);
    background-color: #fff;
    padding-top: 99px;
}
.try .name{
    width:535px;
    height:41px;
    font-size:42px;
    font-weight:200;
    color:rgba(20,20,20,1);
    line-height:52px;
    margin:0 auto;
}
.try .section{
    margin-top:85px;
    text-align: center;
}
.try .section .option{
    display: inline-block;
}
.try .option .img{
    margin: 0 auto;
    margin-bottom: 43px;
}
.try .option.optionm{
    margin:0 84px;
}
.try .option .img.Singleton{
    width: 120px;
    height: 35px;
    background-image: url(./images/Singleton.png);
}
.try .option .img.Hero{
    width: 76px;
    height: 34px;
    background: url(./images/Hero.png);
}
.try .option .img.Portland{
    width: 117px;
    height: 31px;
    background-image: url(./images/Portland.png);
}
.try .option .text{
    width:265px;
    font-size:16px;
    font-weight:200;
    color:rgba(20,20,20,.7);
    line-height:26px;
}
/* 产品说明*/
.product-container{
    width: 100%;
    height: 1000px;
    background-color: #fff;
    padding-top: 114px;
}
.product-des{
    width: 975px;
    margin: 0 auto;
}
.product-container .product-des:first-child .product-item{
    margin-bottom: 80px;
}
.product-des .product-item{
    display: flex;
    align-items: center;
}
.product-des img{
    width: 570px;
    height: 350px;
}
.product-des .product-item:last-child .product-info{
    padding-right: 100px;
    padding-left: 0;
}
.product-des .product-info{
    width: 305px;
    padding-left: 100px;
}
.product-des .product-info .title {
    font-size:20px;
    font-weight:300;
    color:rgba(20,20,20,1);
    line-height:32px;
    margin-bottom: 35px;
  }
  .product-des .product-info .text {
    font-size:16px;
    font-weight:200;
    color:rgba(20,20,20,.7);
    line-height:28px;
  }
/* photos */
.photos{
    width: 100%;
    height: 1086px;
    box-sizing: border-box;
    padding-top: 92px;
    background-color:#fff;
    border-top: 3px solid rgb(128, 123, 123);
}
.photos .title{
    width:394px;
    height:30px;
    font-size:42px;
    font-weight:200;
    color:rgba(20,20,20,1);
    line-height:52px;
    margin: 0 auto 15px;
}
.photos .center{
    width:695px;
    height:46px;
    margin: 0 auto;
    margin-bottom: 59px;
}
.photos .center .text{
    width:695px;
    height:46px;
    font-size:18px;
    font-weight:200;
    color:rgba(20,20,20,.7);
    line-height:28px;
    display: inline-block; 
    text-align: center;
    margin: 0 auto;
}
.photos .section{
    position: relative;
    width: 1012px;
    display: flex;
    margin: 0 auto ;
}
.photos .section .photo{
    position: relative;
    border: 1px dashed rgb(128, 123, 123) ;
}
.photos .section .photo1{
    width: 505px;
    height: 434px;

}
.photos .section .photo .one{
    position: absolute;
    width: 505px;
    height: 434px;
    background: url(./images/张思远大.png);
    background-size: 100%;
    top: -59px;
    left: -9px;
}
.photos .section .photo2{
    width: 507px;
    height: 428px;
}
.photos .section .photo .two{
    position: absolute;
    width: 507px;
    height: 428px;
    background: url(./images/2.png);
    background-size: 100%;
    top: -59px;
    left: 17px;
}
.photos .section .photo3{
    width: 475px;
    height: 408px;
    margin-right: 25px;
    top: -60px;
    left: 18px;
}
.photos .section .photo .three{
    width: 475px;
    height: 408px;
    background: url(./images/3.png);
    background-size: 100%;
}
.photos .section .photo4{
    width: 505px;
    height: 440px;
    top: -48px;
    left: 17px;
}
.photos .section .photo .four{
    width: 505px;
    height: 440px;
    background: url(./images/沈大师大_meitu_3.png);
    background-size: 100%;
    margin-bottom: 5px;
}
/*  */
.contacts{
    width: 100%;
    height: 700px;
    border-top: 1px solid rgba(20,20,20,.1);
    background-color: #fff;
    box-sizing: border-box;
    padding: 70px 0;
}