<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="" id="app">
        <!-- {{message}}
        <p class="coll">颜欢是狗屎</p>
        <p class="good" V-bind:class="{cool : isGood}">奇臭无比</p>
        <p class="good" V-bind:class="isGood ? 'cool' : 'notcool'">奇臭无比</p>
        <p class="coll" v-bind:class="[activeClass]">颜欢是狗屎</p> -->
        <!-- <ul>
            <li v-for="item in todos">{{item.text}}</li>
        </ul> -->
        <!-- <p>{{content}}</p> -->
        <!-- <input type="text" v-model="content"> -->
        <p class="coll" v-on:click="reverseMsg">{{msg}}</p>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data:{
                // message: 'hello world',
                // isGood: false,
                // activeClass:'active'
                // todos: [
                //     {text:'学习Vue'},
                //     {text:'学习Vue1'},
                //     {text:'学习Vue2'}
                // ]
                // content: ''
                msg:'颜欢狗',
            },
            methods: {
                reverseMsg() {
                    this.msg = this.msg.split('').reverse().join('')
                }
            }
        })
    </script>
</body>
</html>